.header {
    height: 50px;
    /* background-color: lightsteelblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 50px;
}

.rank_input {
    width: 50px;
}

.other_info_content {
    margin-bottom: 25px;
    display: flex;
}

.other_info_para {
    margin-left: 100px;
}
